@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
    --primary-color: #4574C4;
    --secondary-color: #ffffff;
    --black: #000;
    --yellow: #f4ba40;
    --text: #3d4459;
    --links: #cc3366

}

body{
    font-family: "Cairo", sans-serif;
    direction: rtl;
}
header{
    padding: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 130px;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}
header img.logo{
    width: 140px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(323deg) brightness(200%) contrast(101%);
}
.sticky {
    background-color: var(--secondary-color);
    height: 110px;
    z-index: 99999;
 
}
header.sticky img.logo{
     filter: none;
     -webkit-filter: none;
}
button.pricing-btn{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px 40px;
    color: var(--secondary-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    margin: 0px 10px;
}
header.sticky button.tracking-btn{
    background-color: var(--secondary-color);
    border: 1px solid var(--black);
    color: var(--black);
}
button.tracking-btn{
    background-color: transparent;
    border: 1px solid var(--secondary-color);
    padding: 10px 40px;
    color: var(--secondary-color);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    font-weight: 500;
    font-size: 15px;
    line-height: 1;
    margin: 0px 10px;
}
.banner{
    background: linear-gradient(180deg, #00000096 53%, #4574c480 100%), url(../images/order-delivery-service.webp);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 560px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    padding: 40px;
}
.banner span{
    display: inline-block;
    font-family: "Cairo", sans-serif;
    color: var(--secondary-color);
    font-size: 20px;
    border-bottom:7px solid var(--yellow);
    margin: 10px 0px;
    padding: 5px 0px;
}
h1.post-title{
    font-family: "Cairo", sans-serif;
    color: var(--secondary-color);
    font-size: 60px;
    width: 70%;
    line-height: 1.5;
}
.post-wrap{
    margin: 50px 0px;
}
img.post-featured-img{
    width: 100%;
}
time.post-publish-time{
    display: inline-block;
    color: #4a4a4a;
    margin: 20px 0px;
    font-size: 15px;
}
.post-content h2{
    font-size: 24px;
    color: var(--text);
    margin: 20px 0px 10px;
    font-weight: bold;
}
.post-content img{
    width: 90%;
    margin: 20px 0px;
}
.post-content a{
    color: var(--links);
    text-decoration: none;
}
.post-content p,.post-content ol li{
    font-family: "Cairo", sans-serif;
    font-weight: 500;
    color: var(--text);
    line-height: 1.9;
}
.sidebar{
    padding-right: 40px;
}
.post-share-wrap{
    padding: 20px 0px;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-color: rgb(22 22 63 / 20%);
    border-style: solid;
}
.post-share-wrap,.social-icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-share-social{
    width: 38%;
}
.post-share-title h4,.more-post-wrap h4{
    font-family: "Cairo", sans-serif;
    color: var(--black);
    line-height: 1.9;
    font-size: 16px;
    font-weight: 700;
}
.social-icon svg{
    width: 20px;
    fill: #386785;
}
.more-post-wrap{
    margin-top: 50px;
}
.more-post-container{
    display: flex;
    justify-content: space-between;
}
.featured-more-post-img{
    width: 30%;
}
.more-post-content-wrap{
    width:70%;
    padding-right: 15px;
}

.featured-more-post-img img{
    width: 100%;
}
.more-post-content-wrap h3{
    font-family: "Cairo", sans-serif;
    color: var(--black);
    font-size: 15px;

}
.more-post-content-wrap p{
    font-family: "Cairo", sans-serif;
    color: var(--black);
    font-size: 13px;
    font-weight: 300;
}
.more-post-container{
    margin: 30px 0px;
}
.form-wrap{
    padding: 50px 45px;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
    border-top: 4px solid var(--yellow);
    margin-top: 80px;
}
.form-wrap form{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.form-wrap h3{
    font-family: "Cairo", sans-serif;
    color: var(--black);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.form-wrap input,.form-wrap textarea{
    font-family: "Cairo", sans-serif;
    border: 1px solid #d7d7d9;
    padding: .5rem 1rem;
    margin-bottom: 15px;
    text-align: right;
    width: 100%;
    font-size: 15px;
    resize: none;
}

.form-wrap input::placeholder,.form-wrap textarea::placeholder{
    font-weight: 600;
}
.form-wrap button{
    font-family: "Cairo", sans-serif;
    background-color: #32519b;
    color: #fff;
    padding: 15px 50px;
    border: 1px solid #32519b;
}
.form-wrap button svg{
    width: 16px;
    fill: #fff;
    margin-right: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.read-more-post{
    font-family: "Cairo", sans-serif;
    margin: 40px 0px;
}
.read-more-post a{
    color: var(--links);
    text-decoration: none;
    font-weight: 700;
}
.realted-posts-wrap h4.realted-posts-heading{
    font-family: "Cairo", sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-top:1px solid #0003;
    display: inline-block;
    padding-top: 12px;
    margin-top: 50px;
}
.realted-posts{
    display: flex;
    justify-content: space-between;
}
.realted-posts h4 a{
    font-family: "Cairo", sans-serif;
    color: var(--links);
    font-size: 14px;
    text-decoration: none;
    font-weight: 400;
}
.realted-posts h4 a:hover{
    text-decoration: underline;
}
.related-post-category,.related-post-date{
    font-family: "Cairo", sans-serif;
    font-size: 14px;
    color: var(--text);
    opacity: 0.6;
    margin-bottom: 5px !important;
    font-weight: 700;
}
.navigation-post-wrap{
    display: flex;
    justify-content: space-between;
    margin: 80px 0px;
    
}
.prev-post{
    width: 50%;
    display: flex;
    align-items: center;
    border-left: 1px solid #d2d1d8;
    padding-left: 15px;
}
.prev-icon img{
    width:16px;
    margin-left: 20px;
}
.post-navigated{
    font-family: "Cairo", sans-serif;
    font-size: 12px;
    color: #16163f;
}
.post-navigated p{
    margin-bottom: 4px;
}
.footer{
    font-family: "Cairo", sans-serif;
    color: #fff;
    background: linear-gradient(180deg, #00000096 53%, #00000096 100%), url(../images/fulfilment-footer-bg.webp);
    background-position: center center;
    background-size: cover;
    padding: 70px 0px;
    background-repeat: no-repeat;

}
img.footer-logo{
    width: 120px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(323deg) brightness(200%) contrast(101%);
}
footer p.about-fulfilment{
    font-family: "Cairo", sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    line-height: 1.9;
}
footer .social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
footer .social-icons svg{
    height: 28px;
    fill:#fff;
}
footer .social-icons a{
    padding: 5px;
    width: 43px;
    height: 38px;
    text-align: center;
    transition: all 0.2S ease-in-out;
    -webkit-transition: all 0.2S ease-in-out;
    -moz-transition: all 0.2S ease-in-out;
    -ms-transition: all 0.2S ease-in-out;
    -o-transition: all 0.2S ease-in-out;
}
footer .social-icons a:hover svg{
   fill: #16163f;

}
footer .social-icons a:hover{
    background-color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}
footer h5{
    margin-bottom: 25px;
}
footer ul {
    list-style: none;
    padding-right: 0px !important;
  
}
footer ul li{
    padding-bottom: 15px;
}
footer ul a{
    font-size: 14px;
    color: var(--secondary-color);
    text-decoration: none;
}
footer input{
    background-color: transparent;
    border: 1px solid #fff;
    padding: .5rem 1rem;
    width: 100%;

}
footer input::placeholder{
    color: var(--secondary-color);
    opacity: 0.6;
}
footer form button{
    background-color: #32519B;
    border: 1px solid #32519B;
    color: var(--secondary-color);
    padding: 12px 24px;
}
footer form button svg{
    width: 15px;
    fill: var(--secondary-color);
}
.icon-box-wrapper{
    display: flex;
    align-items: center;
}
.icon-box-wrapper svg{
    fill: var(--secondary-color);
    width: 30px;
    height: 30px;

    margin-left: 20px;
}
.row.contact-info{
    margin: 30px 0px;
    padding: 30px 10px;
    background-color: #ffffff3d;
}
.row.contact-info h5{
    margin-bottom: 10px;
    font-size: 16px;
}
.row.contact-info p{
    font-size: 14px;
    margin-bottom: 0px;
}
footer a{
    color: var(--secondary-color);
    text-decoration: none;
}
.copy-right{
    background-color: #001c38;
    color: var(--secondary-color);
    padding: 15px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,.19);
    border-bottom: 1px solid rgba(255,255,255,.19);
}
.copy-right p{
    margin-bottom: 0px !important;
}
.sec-col{
    text-align: left;
    opacity: 0.5;
    font-weight: 300;
}

/* responsive */
@media (max-width:565px){
    header button{
        display: none;
    }
    header img.logo {
        width: 90px;
    }
    .sticky {
        height:80px;
    }
    .banner{
        padding: 40px 20px;
    }
    h1.post-title {
        font-size: 30px;
        width: 85%;
    }
    .banner span{
        font-size: 16px;
    }
    .realted-posts {
        flex-wrap: wrap;
    }
    .related-post{
        width: 50%;
        margin-bottom: 20px;
    }
    .sidebar {
        padding-right: 20px;
        padding-left: 20px;
    }
    img.footer-logo{
        display: block;
        margin: auto;
    }
    footer p.about-fulfilment{
        text-align: center;
        font-size: 14px;
    }
    .footer{
        padding: 70px 20px;
    }
    footer .social-icons {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .subscribe h5,.subscribe p{
        text-align: center;
    }
    footer form button,.icon-wrapper,.box-details
    {
        width: 100%;
    }
    .icon-box-wrapper {
        flex-wrap: wrap;
        margin: 20px 0px;
    }
    .icon-wrapper svg{
        display: block;
        margin: 15px auto;
        

    }
    .box-details{
        text-align: center;
    }
    .copy-right p{
        text-align: center;
        margin-bottom: 10px !important;
    }
}